#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  background-color: white;
}
p{
  color:black;
  border-width: 3px;
  border-color:black;
}
.card {
  padding: 2em;
  border-width: 2px;
  border-color: black;
}

